body {
	font-family: "Montserrat", sans-serif;
	background-color: #fafafa;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	width: 375px;
}

img {
	display: block;
}

section {
	margin-bottom: 80px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/* --------------------------HEADER-------------------------- */

header {
	margin-bottom: 14px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo-text {
	display: block;

	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-align: left;
}

.logo-icon {
	vertical-align: middle;
}

.burger-btn {
	position: relative;
	border: none;
	background: transparent;
	width: 21px;
	height: 14px;
	vertical-align: middle;
}
.burger-btn::before,
.burger-btn::after {
	content: "";
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 10px;
	background: #000;
}
.burger-btn::before {
	top: 0;
	box-shadow: 0 6px 0 #000;
}
.burger-btn::after {
	bottom: 0;
}

/* --------------------------HEADER-------------------------- */

/* --------------------------HERO-------------------------- */

.hero {
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main@2x.jpg);
	background-size: cover;
	max-width: 335px;
	background-repeat: no-repeat;
	background-position: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
	border-radius: 5%;
}

.container-hero {
	padding-top: 395px;
	padding-bottom: 20px;
}

.title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-align: left;
	max-width: 295px;
	margin-bottom: 32px;
}

.hero-buttons {
	display: flex;
	gap: 14px;
	margin-bottom: 32px;
}

.button {
	background-color: #fd9222;
	border: none;
	border-radius: 100px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.buy-button {
	background-color: #fd9222;
	border: none;
	padding: 12px 28px;
	border-radius: 100px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	text-wrap: nowrap;
	font-size: 14px;
	line-height: 1.25;
}

.hero-link {
	display: block;
	border-radius: 100px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.22;
	min-width: 159px;
	padding: 12px 28px;
	text-align: start;
	text-wrap: nowrap;
}

.scroll-down-link {
	display: block;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: -0.03em;
}

.scroll-icon {
	background-color: #ffffff;
	border-radius: 50%;
	align-items: center;
	padding: 7px;
	vertical-align: middle;
	fill: #fd9222;
	margin-left: 7px;
}

/* --------------------------HERO-------------------------- */

/* --------------------------ADVANTAGES-------------------------- */

.advantages-container {
	background-color: #1e1823;
	padding-bottom: 20px;
}
.advantages-wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.advantages-block:last-child {
	margin-bottom: 16px;
}

.advantages-icon {
	border: 1px solid #ffffff80;
	border-radius: 50%;
	padding: 17px;
	margin-bottom: 22px;
}

.advantages-subtitle {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	text-align: left;
	color: #ffffff;
	margin-bottom: 18px;
}

.advantages-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 17.07px;
	letter-spacing: -0.02em;
	text-align: left;
	display: block;
	max-width: 308px;
	color: rgba(255, 255, 255, 0.7);
	max-width: 308px;
}

.advantages-block {
}

/* --------------------------ADVANTAGES-------------------------- */

/* --------------------------ADDS-------------------------- */

.adds-wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.adds-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-align: center;
	max-width: 283px;
	margin-bottom: 32px;
}

.adds-title span {
	color: #fd9222;
}

.adds-block {
	padding-top: 32px;
	padding-bottom: 28px;
	padding-right: 28px;
	padding-left: 28px;
	padding-top: 32px;
	border: 1px solid #fd9222;
	border-radius: 15px;
	position: relative;
}

.adds-block:nth-child(1) {
	background-color: #fd9222;
	border: none;
}

.adds-block:nth-child(3) {
	background-color: #1e1823;
	border: none;
}

.arrow-btn {
	display: block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 1px solid #fd9222;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	top: 15px;
}

.arrow-btn-icon {
	display: block;
	margin: auto;
	stroke: #fd9222;
}

.adds-block:nth-child(1) .arrow-btn,
.adds-block:nth-child(3) .arrow-btn {
	border: 1px solid #fafafa;
}

.adds-block:nth-child(1) .arrow-btn-icon,
.adds-block:nth-child(3) .arrow-btn-icon {
	stroke: #fafafa;
}

.adds-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

.adds-subtitle {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.02em;
	text-align: left;
}

.adds-block:nth-child(1) .adds-subtitle,
.adds-block:nth-child(3) .adds-subtitle {
	color: #ffffff;
}

/* --------------------------ADDS-------------------------- */

/* --------------------------MADE-------------------------- */

.made-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
	color: #111111;
}

.made-title span {
	color: #fd9222;
}

.made-image {
	background-image: url(../images/image-1.jpg);
	min-height: 500px;
	background-position: 50% 10%;
	border-radius: 10px;
}

.made-subtitle {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
}
.made-wrap {
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.made-block {
	position: relative;
	font-size: 14px;
	line-height: 1.22;
	letter-spacing: -0.02em;
	text-align: left;
	padding-left: 16px;
	max-width: 291px;
}

.made-block::before {
	content: "";
	position: absolute;
	display: inline-block;
	border: 1px solid #eceded;
	background-color: #4c4c4c;
	margin-right: 5px;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	top: 5px;
	left: 0;
}

/* --------------------------MADE-------------------------- */

/* --------------------------PRODUCTS-------------------------- */

.products-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-align: center;
	color: #111111;
	margin-bottom: 54px;
	text-transform: uppercase;
}

.products-title span {
	color: #fd9222;
}

.products-wrap {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.products-block {
	border: 1px solid #1111111a;
	border-radius: 15px;
	width: 335px;
	height: 364px;
	background-color: #ffffff;
	padding-bottom: 32px;
	padding-top: 32px;
}

.products-image {
	margin-left: auto;
	margin-right: auto;
}

.products-text-block {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pruducts-subtitle {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: -0.02em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.products-type {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.15;
	letter-spacing: -0.02em;
	text-align: center;
	margin-bottom: 18px;
}

.products-price {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.33;
	text-align: center;
	border: 1px solid #1111111A;
	border-radius: 100px;
	min-width: 94px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* --------------------------PRODUCTS-------------------------- */
